<div class="justify-content-between flex align-items-center gap-2">
    <h2>Criptografia de Substituição com o Algorítimo de Chave Única</h2>
    <button (click)="reset()" class=" btn-refresh"><i class="pi pi-refresh"></i></button>
</div>

<div>

    <div class="flex align-items-center gap-2 p-2">

        <div class="input">
            <input [(ngModel)]="frase" placeholder="Digite uma frase" class="input__content">
            <span class="input__label">TEXTO CLARO</span>
        </div>

        <div class="input_key_text">
            <input [(ngModel)]="chave" placeholder="Digite a chave" class="input_key_text__content">
            <span class="input_key_text__label">CHAVE</span>
        </div>

    </div>

</div>

<div class="flex justify-content-between p-2 gap-2">

    <div class="flex align-items-start gap-2">

        <p>Texto criptografado: </p>
        <p class="result"> {{ textoCriptografado}}</p>

    </div>
    <button class="btn" (click)="criptografar()">
        <span class="btn__content">Criptografar</span>
        <span class="btn__glitch"></span>
        <span class="btn__label">btn-cript</span>
    </button>

    <!-- <button class="btn btn--secondary" (click)="descriptografar()">
        <span class="btn__content">Descriptografar</span>
        <span class="btn__glitch"></span>
        <span class="btn__label">btn-descript</span>
    </button> -->

</div>

<div>

    <div class="flex align-items-center gap-2 p-2">

        <div class="input">
            <input [(ngModel)]="textoCriptografado" placeholder="Digite uma frase" class="input__content">
            <span class="input__label">TEXTO CLARO</span>
        </div>

        <div class="input_key_text">
            <input [(ngModel)]="chave" placeholder="Digite a chave" class="input_key_text__content">
            <span class="input_key_text__label">CHAVE</span>
        </div>

    </div>

</div>

<div class="flex justify-content-between p-2 gap-2">

    <div class="flex align-items-start gap-2">

        <p>Texto criptografado: </p>
        <p class="result_des"> {{ textoDescriptografado}}</p>

    </div>
    <button class="btn btn--secondary" (click)="descriptografar()">
        <span class="btn__content">Descriptografar</span>
        <span class="btn__glitch"></span>
        <span class="btn__label">btn-descript</span>
    </button>

</div>

<!-- <input [(ngModel)]="frase" placeholder="Digite uma frase">
<input [(ngModel)]="chave" placeholder="Digite a chave">
<button (click)="criptografar()">Criptografar</button>
<p>Texto Criptografado: {{ textoCriptografado }}</p>

<input [(ngModel)]="textoCriptografado" placeholder="Digite o texto criptografado">
<input [(ngModel)]="chave" placeholder="Digite a chave">
<button (click)="descriptografar()">Descriptografar</button>
<p>Texto Descriptografado: {{ textoDescriptografado }}</p> -->