<div class="card">
    <p-tabView styleClass="tabview-custom">
        <p-tabPanel>
            <ng-template pTemplate="header">
                <i class="pi pi-sort-alt"></i>
                <span>Substituição</span>
            </ng-template>
            <div class="grid-template">
                <div class="card">
                    <div class="card__content">
                        <app-criptografia-mode-um></app-criptografia-mode-um>
                    </div>
                    <span class="card__label">THE CABAS</span>
                </div>
                <div class="card">
                    <div class="card__content">
                        <app-criptografia-mode-dois></app-criptografia-mode-dois>
                    </div>
                    <span class="card__label">CIFRA DE CESAR</span>
                </div>

                <div class="card">
                    <div class="card__content">
                        não implementado ainda
                    </div>
                    <span class="card__label">404-not-found</span>
                </div>
                <div class="card">
                    <div class="card__content">
                        não implementado ainda
                    </div>
                    <span class="card__label">404-not-found</span>
                </div>


            </div>

        </p-tabPanel>
        <p-tabPanel header="Header II">
            <ng-template pTemplate="header">
                <i class="pi pi-user"></i>
                <span>Transposição</span>
            </ng-template>
            <div class="grid-template">

                <div class="card_transposition">
                    <div class="card_transposition__content">
                        <app-transposicao></app-transposicao>
                    </div>
                    <span class="card_transposition__label">TRANSPOSIÇÃO</span>
                </div>

            </div>


        </p-tabPanel>
        <p-tabPanel header="Header II">
            <ng-template pTemplate="header">
                <i class="pi pi-user"></i>
                <span>Chave Unica</span>
            </ng-template>
            <div class="grid-template">

                <div class="card_transposition">
                    <div class="card_transposition__content">
                        <app-chave-unica></app-chave-unica>
                    </div>
                    <span class="card_transposition__label">TRANSPOSIÇÃO</span>
                </div>

            </div>
        </p-tabPanel>
    </p-tabView>
</div>